.karty {
	  background-image: url("karta.jpg");
	  float: left;
	  width: 170px;
	  height: 236px;
	  margin: 20px;
}
.karta1 {
	background-color: red;
}
.karta2 {
	background-color: green;
}
.karta3 {
	background-color: blue;
}
.karta4 {
	background-color: orange;
}
.karta5 {
	background-color: black;
}
.open_kart {
	background-image: none;
}