.{
	margin:0;
	padding:0
	
}

#kartinki img{
	height:100px;
	float: left;
	margin-bottom:30px;
	opacity: 0.7;
}	

#kartinki img:hover{
	height:140px;
	opacity: 1;
}	
.cl1{
	float:left;
	}


#forma{
	width:100%;
	float:left;
}
