*{
	margin:0;
	padding:0;
}

#kartinki img{
	height:150px;
	float: left;
	padding:20px;
}	


.cl1{
	float:left;
	}


#forma{
	width:100%;
	float:left;
	margin-left:20px;
	font-size:18px;
	font-family:Comic Sans MS;
}
#forma label{
	font-weight: bold;
}

#forma input{
	font-size:18px;
}

#forma select{
	font-size:18px;
	font-family:Comic Sans MS;
}

.cl2{
	border:solid 3px gold;
	opacity: 1;
	float:left;
}
.kartinki{
	display:inline;
}